.container{
    width: 100%;
    height: auto;

}

.menu{
    width: 100%;
    height: 120px;
    background-color: blue;
}

.up{
    width: 80%;
    height: 70px;
    margin: 0px auto;
    padding-top: 0px;
}

.up ul{
    list-style: none;
    margin-top: 0px;
    margin-left: 0px ;
}

.up ul li{
    display: inline-block;
    padding: 10px;
}

.up ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.up ul li a img {
    vertical-align: middle;
}

.logo a img {
    padding-right: 350px ;
    transform: translateX(50px);
}

.down{
    height: 50px;
    width: 80%;
    margin: 0 auto;;
}

.search {
    height: 40px;
    width: 550px;
    background-color: white;
    margin-left: 200px;
    border-radius: 5px;
}

.search input{
    width: 480px;
    height: 35px;
    border: 0px;
    padding-left: 20px;
    font-size: 15px;
    border-radius: 5px;
}

.search button{
    border: 0px;
}

.search button img{
    width: 25px;
    height: auto;
    vertical-align: middle;
}

.content{
    width: 1100px;
    margin: 20px auto;
    display: grid; 
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;

}

.item img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.item1{
    grid-column-start: 1;
    grid-column-end: span 2;
}
.item1 img{
    width: 415px;
}

.item2{
    grid-column-start: 3;
    grid-column-end: span 2;
}
.item2 img{
    width: 415px;
}

.item1{
    position: relative;
}
.item2{
    position: relative;
}

h2{
    position: absolute;
    top: 140px;
    left: 20px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.footer{
    width: 100%;
    height: 50px;
    background-color: blue
}

h3{
    position: absolute;
    top: -10px;
    left: 400px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.item3{
    position: relative;
}